# Compiled sources #
*.class

# Package Files #
*.war
*.ear

# Generated docs #
docs/tex/*.toc
docs/tex/*.log
docs/tex/*.synctex*
docs/tex/*.out
docs/tex/*.aux
docs/tex/*.lof
docs/tex/*.dvi
docs/tex/*.bbl
docs/tex/*.blg
docs/html
/out.avi
/bin

# Settings
/.pmd
*.prefs

# Logs
logs/*.log
logs/*.csv